.create-project-titles{
    font-family: helvetica;
    margin: 15px;
    color: rgb(178, 178, 178);
    font-size: 22px;
    text-align: center;
}

.project-create-project-input{
    border: none;
    outline: none;
    font-family: helvetica;
    font-size: 16px;
    color: grey;
    border-bottom: 1px solid rgb(227, 227, 227);
    width: 255px;
    height: 35px;
    margin: 10px 20px 10px 0px;
}
.project-create-project-input::placeholder{
    border: none;
    outline: none;
    font-family: helvetica;
    font-size: 16px;
    color: rgb(217, 217, 217);
}
.project-create-project-input-role{
    margin-left: 20px;
}
.project-start-project-date{
    display: flex;
}
.project-start-finish-date-spacer{
    width: 50px;
}
.project-create-project-input-long{
    width: 563px;
    height: 35px;
}
.project-container{

    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap:wrap;
}
.create-project-body{
    width: 100%;
    height: 100%;
    background: #F9F9FA;
}
.create-project-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-divider{
    width: 85%;
    height: 2px;
    background: linear-gradient(to right, #d0ffae , #34ebe9);
    margin-top: 50px;
}
.project-tasks-created-container{
    height: 150px;
    width: 80vw;
    overflow-x: scroll;
    padding:0;
    display: flex;
    /* justify-content: space-between */
}

.project-tasks-created-container::-webkit-scrollbar {
    height: 8px;
}

.project-tasks-created-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba( 0, 0, 0, 0.4 );
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.box-arrow {
    display: flex;
}

.project-created-task {
    height: 140px;
    width: 160px;
    background: green;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

.arrow {
    width: 0;
	height: 0;
	border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    margin-right: -52px;
}

.task-odd {
    background: red;
}

.task-even {
    background: blue;
}

.task-odd-arrow {
	border-left: 50px solid red;
}

.task-even-arrow {
	border-left: 50px solid blue;
}

[taskyShowDeets='false'] {
    display: none;
}

[taskyShowDeets='true'] {
    
}

.create-project-titles-created-task{
    margin: 60px;
}

[create-project-tasks-show-task-info='true'] {
    height: 50vh;
    width: 50vw;
    position: fixed;
    left: calc( 100vw / 4 );
    box-shadow: 12px 12px 20px gray;
    background: linear-gradient( to top right, #7e43aa, #6681ea );
    margin-top: -380px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    animation-name: fadeIn;
    animation-duration: .35s;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(.75); }
    100% { opacity: 1; transform: scale(1) }
}

[create-project-tasks-show-task-info='fade-out'] {
    height: 50vh;
    width: 50vw;
    position: fixed;
    left: calc( 100vw / 4 );
    box-shadow: 12px 12px 20px gray;
    background: linear-gradient( to top right, #7e43aa, #6681ea );
    margin-top: -380px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    animation-name: fadeOut;
    animation-duration: .35s;
}    

@keyframes fadeOut {
    0% { opacity: 1; transform: scale(1); }
    75% { opacity: 0; }
    100% { opacity: 0; transform: scale(.75) }    
}

[create-project-tasks-show-deets='false'] {
    display: none;
}

/* .tasky-name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px 0;
    margin-bottom: 25px;
}

.tasky-name p {
    font-size: 24px;
    margin: 5px 0;
}

.tasky-name section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.task-spacer {
    width: 16px;
    text-align: center;
}

.tasky-desc {
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    text-align: left;
    padding: 10px 20px;
    overflow-y: scroll;
}

.tasky-desc::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.tasky-role {
    width: 100%;
    text-align: center;
}

.tasky-link {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.tasky-close {
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 80px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
} */
.project-created-project-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 500px;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 30px;
}
.project-dates-start-end-container{
    display: flex;
    margin-bottom: 10px;

}
.project-created-descritpion{
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
}
.project-created-name{
    font-size: 24px;
    color: #f42e78;
    margin-bottom: 10px;
    font-family: helvetica;
    font-weight: bold;
}
.project-created-price{
    color:rgb(14, 178, 14);
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid rgb(14, 178, 14);
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.project-created-save-project{
    height: 35px;
    width: 150px;
    color: white;
    background: #4dbf71;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.project-save-project{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.project-created-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    flex-wrap:wrap;
}
.project-save-add-tasks-text{
    align-self: center;
    margin: 0 10px 0 10px;
    padding-right: 10px;
    font-size: 12px;
    color:rgb(178, 178, 178)
}
.project-created-edit-project{
    height: 25px;
    font-size: 10px;
    width: 100px;
    color: white;
    background: #fe7b7b;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.project-created-submit-project{
    height: 35px;
    width: 150px;
    color: white;
    background: #4dbf71;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px; 
}
.project-create-project-input-long-count{
    width: 500px;
    height: 35px;
}
.project-counter-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    

}
.project-character-count{
    color: rgb(222, 222, 222);
    margin-bottom:10px;
    margin-left:-20px;
    font-size: 10px;
}