.team-modal{
    display: flex;
    height: 50vh;
    width: 50vw;
    /* border: 1px solid black; */
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.18);
    align-self: center;
    transform: translateX(25vw);
    margin-top: 10vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.teamname {
    margin-top: 10px;
}

.save {
    width: 120px;
    background: #44CEDF;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 35px;
    font-size: 16px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    margin-left: 40px;

}

.save:hover {
    background: transparent;
    color:#44CEDF;
    border: 1.5px solid #44CEDF;
}
.save:active {
    background: #44CEDF;
    color:#fff;
    border: none;
}

.cancel {
    width: 120px;
    background: #f83d59;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 35px;
    font-size: 16px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    margin-left: 40px;
}
.cancel:hover {
    background: transparent;
    color:#f83d59;
    border: 1.5px solid #f83d59;
}
.cancel:active {
    background: #f83d59;
    color:#fff;
    border: none;
}
.top {
    margin-right: 0;
}

.hmm { 
    width: 4ch; 
    width: 4ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s infinite alternate;
    margin-left: 150px;
    transform: translateY(-50px);

}
    
    
@keyframes typing { from { width: 0 } }
