.team-container {
    height: 100vh;
    width: 100vw;
    background: #F9F9FA;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.team-modal{
    display: flex;
    height: 400px;
    width: 500px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.18);
    margin-left: 3vw;

    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    border-top: 2px solid rgb(119, 88, 236);
}

.teamdescription {

}

.teamname {
    margin-top: 10px;
}
:-moz-placeholder{
    color: rgba(0,0,0,.3);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0,0,0,.3);
  }


.teamdesbox{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.teamdesbox:focus{
    outline: none;

}
.button-container-create-team{

}

.nameinputss {
    border:none;
    border-bottom:1px solid lightgrey;
    height: 30px;

    outline: none;
    font-family: helvetica;
    font-size: 16px;
    color: grey;

    width: 255px;
    height: 35px;
    margin: 10px 20px 10px 0px;
}
.nameinput:focus {
    border: none;

    outline: none;
}

.save {
    width: 120px;
    background: rgb(119, 88, 236);
    border: none;
    outline: none;
    border-radius: 3px;
    height: 35px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

.save:hover {
    background: transparent;
    color:rgb(119, 88, 236);
    border: 1.5px solid rgb(119, 88, 236);
}


.cancel {
    width: 120px;
    background: #f83d59;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 35px;
    font-size: 16px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}
.cancel:hover {
    background: transparent;
    color:#f83d59;
    border: 1.5px solid #f83d59;
}

.top {
    font-family: helvetica;
    margin: 15px;
    color: rgb(178, 178, 178);
    font-size: 22px;
    text-align: center;
}
