html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.display-team-container {
    width: 100%;
    padding: 0 20%;
    background: #F9F9FA;
}

.edit-team-popup input{
    margin-bottom: 15px;
}

.edit-team-description{
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 10px;
    height: auto;
    height: 100px;
    width: 440px;
    border: 1px solid rgba(0,0,0, .1);
    color: rgba(0,0,0,.50);
    border-radius: 5px;
    resize: none;
}

.edit-team-description:focus{
    border: 1px solid rgba(0,0,0, .45);
    outline: none;
    text-align: left;
    box-shadow: 0px 1px 2px rgba(0,0,0, .14);
    color: rgba(0,0,0,.88);
}
.edit-team-users-section{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.edit-description-span{
    
}

.edit-team-users-container {
    height: 170px;
    width: 440px;
    overflow: auto;
    border-top: 1px solid rgba(0,0,0, .45);
    
    
}




.edit-team-name-input-box{
    padding-left: 10px !important;
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 3px;
    margin-top: 6px;
    color: rgba(0,0,0,.50);
    width: 250px;
}

.edit-team-name-input-box:focus{
    border: 1px solid rgba(0,0,0, .45);
    outline: none;
    box-shadow: 0px 1px 2px rgba(0,0,0, .14);
    color: rgba(0,0,0,.88);
}

.edit-team-name-span, .edit-description-span, .users-header{
    color: black !important;
    font-weight: 900;
}

.edit-team-users-user{
    margin-bottom: 7px !important;
    margin-left: 10px;
    cursor: pointer;
}

.edit-user-label{
    font-weight: 100;
    color: black;
    padding-left: 15px;
    cursor: pointer;
}

.users-header{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 20px;
    padding-left: 3px;
}

.analytics-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    background: rgba(249,249,250, 1);
    width: 100%;
    padding-top: 15px;
}

.firstchart {
    display: flex;
    justify-content: space-between;
}



.charts-container{    
    margin-top: 25px;
    width: 1210px;
    height: 90vh;
}

.charts-main{
    display: flex;
    justify-content: space-between;
}


.chart {
    height: 300;
    width: 100;
}

/*          Left nav bar           */

.analytics-navbar-title{
    border-bottom: 1px solid rgba(0,0,0, .15);
    padding-bottom: 5px;
    margin-top: -15px;
    font-size: 17px !important;
    padding-left: 2px !important;
    font-weight: 500 !important;
}

.charts-left-navbar{
    display: flex;
    flex-direction: column;
    width: 200px; 
    height: 350px;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.18);
    font-weight: 100;
    border-top: 2px solid rgb(119, 88, 236);
    border-radius: 3px;
}

.under-nav{
    margin-top: 30px !important;
}

.charts-left-navbar span {
    padding-top: 20px;
    font-size: 14px;
    padding-left: 15px;
}



/*          right nav bar           */
.right-navbar-title{
    border-bottom: 1px solid rgba(0,0,0, .15);
    padding-bottom: 5px;
    margin-top: -15px;
    font-size: 17px !important;
    margin-left: -5px !important;
    font-weight: 500 !important;
}

.charts-right-navbar{
    display: flex;
    flex-direction: column;
    width: 200px; 
    height: 173px;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.18);
    border-top: 2px solid rgb(119, 88, 236);
    border-radius: 3px;
}

.charts-right-navbar span {
    padding-top: 20px;
    font-size: 14px;
    padding-left: 10px;
    font-weight: 100;
}

.alert-button{
    justify-content: center;
    background-color: #7953F5; 
    height: 20px;
    font-size: 12px;
    border-radius: 3px;
    width: 75px;
    color: white;
    border: none;
    margin-top: 25px;
    margin-left: 50px;
    cursor: pointer;
}

.alert-button:focus{
    outline: none;
}




/*                          table                       */


.team-name-description{
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    /* max-width: 60px; */
    overflow: hidden;
}

.team-name-header{
    padding-bottom: 5px;
    font-size: 23px !important;
    font-weight: 100 !important;
    color: black;
}

/* .team-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.18);
    width: 675px;
    height: 420px;
    border-top: 2px solid rgb(121, 90, 241);
    border-radius: 3px;
} */

.team-container-yo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 770px;
    height: 170px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.18);
    background: white;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-top: 10px;
    border-radius: 3px;
}

.team-container-yo:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.28);
}


.team-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    /* padding-bottom: 20px; */
    
}

.team-description{
    font-weight: 200;
    font-size: 13px !important;
    color: gray;
}

.description-and-users{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.team-members-span{
    display: flex;
    font-size: 10px !important;
    font-weight: 100 !important;
    margin-left: 35px;
}

.team-description-div{
    width:350px;
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: visible; 
    white-space: normal;
    height:auto;
    
}

.users-on-team-div{
    width: 170px;
    height: 100px;
    overflow: auto;
    margin-right: 16px;
}


.team-users-dropdown{
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    padding-left: 15px;
}

.team-user-dropdown{
    width: 450px;
}


.header-underline{
    position: relative;
    z-index: 20;
    width: 640px;
    height: 1px;
    background: linear-gradient(to right, rgba(0,0,0, .5), rgba(0,0,0, .5), rgba(0,0,0, .5), rgba(255,255,255, .5));
    /* background: rgba(0,0,0, .5); */
    margin-bottom: 10px;
    
}

.team-settings-button {
    background: none !important;
    margin-right: -45px !important;
  }

.team-delete-button {
    background: none !important;
    margin-right: -35px !important;
  }

.team-buttons-div{
    display: flex;
    justify-content: center;
    margin-top: -15px;
  }


.team-name-users-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}


.users-header-team-box{
    border: none;
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-right: 145px;
}

.edit-team-users-span{
    display: flex;
    justify-content: flex-start;

    flex-direction: row;
}

.already-on-team-span{
    position: fixed;
    font-size: 10px;
    margin-left: 270px !important;
    margin-top: 7px !important; 
    font-weight: 100 !important;
    
}

.assigned-star{
    color: black;
    font-weight: 100 !important;
    margin-left: 205px !important;
    font-size: 18px !important;
    margin-top: 11px !important; 
    margin-bottom: -10px;
}

.display-teams-users-users{
    margin-bottom: 5px;
}

.no-team-box{
    margin-top: 41px;
    width: 770px;
    height: 195px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.18);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-team-span{
    font-size: 20px;
    padding-bottom: 35px;
    font-weight: 100;
    color: rgba(65,65,65, .5);
}

.no-team-button{
    width: 150px;
    height: 35px;
    
    border-radius: 3px;
    color: white;
    background: #F6A623;
    border: none;
    outline: none;
    font-size: 15px;
}


@media(min-width: 400) {
    .firstchart {
        padding: 20px;
    }
    .firsty {
        margin-left: 10px;
    }
}


