.display-users-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(249,249,250, 1);
    width: 100%;
    padding-top: 15px;
    
}





.users-charts-container{    
    margin-top: 25px;
    width: 1210px;
    height: auto;
}

.users-charts-main{
    display: flex;
    justify-content: center;
}

/*          Left nav bar           */

.display-users-navbar-title{
    border-bottom: 1px solid rgba(0,0,0, .15);
    padding-bottom: 5px;
    margin-top: -15px;
    font-size: 17px !important;
    padding-left: 2px !important;
    font-weight: 500 !important;
}

.charts-left-navbar{
    display: flex;
    flex-direction: column;
    width: 200px; 
    height: 350px;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.18);
    font-weight: 100;
}

.under-nav{
    margin-top: -35px;
}

.charts-left-navbar span {
    padding-top: 20px;
    font-size: 14px;
    padding-left: 15px;
}



/*          right nav bar           */
.right-navbar-title{
    border-bottom: 1px solid rgba(0,0,0, .15);
    padding-bottom: 5px;
    margin-top: -15px;
    font-size: 17px !important;
    font-weight: 500 !important;
}

.users-right-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
    height: 125px;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.18);
    border-top: 2px solid rgba(82, 189, 116, 1);
    border-radius: 3px;
}



.users-right-navbar span {
    display: flex;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 100;
    width: 100%;
}

.users-create-user-button{    
    background-color: rgba(82, 189, 116, 1); 
    height: 25px;
    font-size: 15px;
    border-radius: 3px;
    width: 100px;
    color: white;
    border: none;
    margin-top: 25px;

    cursor: pointer;
}

.users-create-user-button:focus{
    outline: none;
}



/*                          table                       */



.users-table-container{
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.28);
    width: 770px;
    height: 100%;
    border-radius: 3px;
    margin: 0 3vw;
}


.users-top-table{
    border-bottom: 3px solid rgba(255,255,255, .5);
    height: 43px;
    background: rgba(82, 189, 116, 1);
    border-top-left-radius: 3px;
    width: 770px;
    border-top-right-radius: 3px;
}

.users-top-table-text{
    display: flex;
    font-size: 17px;
    font-weight: 900;
    margin-top: 12px;
    color: white
}

.display-users-name{
    font-size: 17px;  
    /* padding-right: 300px;  */
    font-weight: 900;
    padding-bottom: 5px;
    white-space: nowrap;
    width: 200px;
}


.display-users-user-container{
    /* margin-bottom: 5px; */
    border-bottom: 1px solid rgba(0,0,0, .1);
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    
}

.display-users-name-header{
    padding-right: 325px;
    padding-left: 30px;
}

.display-users-name-email{
    padding-left: 30px;
}

.users-buttons-div{
    margin-right: 15px;
}

.create-users-button-right{
    /* width: 200px; */
    display: flex;
    justify-content: center;
}

.display-users-email{
    font-size: 12px;
    font-weight: 100;
    margin-left: 20px;
}

.users-email-button{
    
    background: none !important;
    border: none !important;
    outline: none;
    margin-left: -31px !important;
    margin-top: -10px !important;
    z-index: 0;
}

.users-email-span{
    margin-left: -10px;
}

.users-team-name{
    text-align: left;
    width: 140px;
    margin-left: 38px;
}


.dashboard-input-names{
    border: none;
    outline: none;
    font-family: helvetica;
    font-size: 16px;
    color: grey;
    border-bottom: 1px solid rgb(227, 227, 227);
    width: 255px;
    height: 35px;
    margin: 10px 20px 10px 0px;
}
.dashboard-input-names::placeholder{
    border: none;
    outline: none;
    font-family: helvetica;
    font-size: 16px;
    color: rgb(217, 217, 217);
}


