.analytics-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(249,249,250, 1);
    width: 100%;
    padding-top: 15px;
}

.firstchart {
    display: flex;
    
}



.charts-container{    
    margin-top: 25px;
    width: 1210px;
    height: auto;
}

.charts-main{
    display: flex;
    justify-content: center;
}


.chart {
    height: 300;
    width: 100;
}

/*          Left nav bar           */

.analytics-navbar-title{
    border-bottom: 1px solid rgba(0,0,0, .15);
    padding-bottom: 5px;
    margin-top: -15px;
    font-size: 17px !important;
    padding-left: 2px !important;
    font-weight: 500 !important;
}

.charts-left-navbar{
    display: flex;
    flex-direction: column;
    width: 200px; 
    height: 350px;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.18);
    font-weight: 100;
}

.under-nav{
    margin-top: -35px;
}

.charts-left-navbar span {
    padding-top: 20px;
    font-size: 14px;
    padding-left: 15px;
}



/*          right nav bar           */
.right-navbar-title{
    border-bottom: 1px solid rgba(0,0,0, .15);
    padding-bottom: 5px;
    margin-top: -15px;
    font-size: 17px !important;
    margin-left: -5px !important;
    font-weight: 500 !important;
}

.charts-right-navbar{
    display: flex;
    flex-direction: column;
    width: 200px; 
    height: 173px;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.18)
}

.charts-right-navbar span {
    padding-top: 20px;
    font-size: 14px;
    padding-left: 10px;
    font-weight: 100;
}

.alert-button{
    justify-content: center;
    background-color: #7953F5; 
    height: 20px;
    font-size: 12px;
    border-radius: 3px;
    width: 75px;
    color: white;
    border: none;
    margin-top: 25px;
    margin-left: 50px;
    cursor: pointer;
}

.alert-button:focus{
    outline: none;
}



/*                          table                       */



.table-container{
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.28);
    height: 100%;
    border-radius: 3px;
    margin: 0 3vw;
}

.analytics-top-table{
    border-bottom: 3px solid rgba(0,0,0, .3);
    height: 33px;
    background: rgba(105,95,231, 1);
    border-top-left-radius: 3px;
    width: 770px;
    border-top-right-radius: 3px;
    margin-bottom: 15px;
}



