.analytics-container {
background: #F9F9FA;
height: 100%;
}
.title {
    padding: 1.1%;
}
.details {
    padding: 1.5%;
}
.firstchart {
    padding: 5px;
}
.subtitle {
    font-size: 15px;
}
.firsty {
    padding-top: 30px;
    padding-right: 40px;
    
}
.thirdchart {
    background: #10a843;
    background: #547cd5;
    background: #ce1c2e;
    background: #da863d;

}
.chart {
    height: 300;
    width: 100;
}

@media(min-width: 400) {
    .firstchart {
        padding: 20px;
    }
    .firsty {
        margin-left: 10px;
    }
}