.company-joined-created-login-button{
    width: 120px;
    align-self: flex-end;
    background: #6859ea;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-joined-added-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.company-joined-added-title{
    font-size: 30px;
    margin: 10px;
}
.company-joined-added-subtitle{
    font-size: 16px;
    margin-bottom: 20px;
}
.just_joined_icon{
    height: 95px;
}