html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.dashboard-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 30px 60px 30px;
    background: #F9F9FA;
}

.nav-placeholder {
    width: 100%;
    height: 50px;
    background: #7ee3fc;
    margin: 1vw;
}




.project-button {
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 15px;
}

.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 3vw;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.badger {
    height: 20px;
    width: 20px;
}
.task-list {
    height: 100%;
    width: calc(80vw - 3vw);
    background: white;
    box-shadow: 2px 3px 2px #e7e7e7;
    border-radius: 5px;
    border: 1px solid rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 3vw;
 
}

.current-stats-wrapper {
    height: 100%;
    width: 90vw;
    margin-top: 20px;
    background: white;
    box-shadow: 2px 3px 2px #e7e7e7;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 5px;
}

.dash-module-title {
    width: 100px;
    height: 30px;
    background: rgba( 0, 0, 0, 0.4 );
    box-shadow: 0px 8px 12px rgba(48, 48, 48, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px
}
.dashboard_new_items_buttons{
    height: 35px;
    width: 120px;
    color: white;
    background: #4dbf71;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;

}
/* .dashboard_new_items_buttons{
    height: 35px;
    width: 90px;
    color: white;
    background: #4dbf71;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 125px;
    position: fixed;

}
.dashboard_new_items_buttons:focus{
    height: 35px;
    width: 90px;
    color: white;
    background: #4dbf71;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transform: translateX(-100px)

} */
.dashboard-main-header-title{
align-self: center;
margin-top: 40px;
margin-bottom: -50px;
font-size: 30px;
}
.button-span {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.dashboard_new_menu_container{
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: flex-end;

}
.dashboard_menu_item_selection{
    width:120px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    background: white;
    color: #959595;
    text-align: right;
    box-shadow: 2px 3px 2px #e7e7e7;

}
.dashboard_menu_item_selection-1{
    width:120px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    background: white;
    color: #959595;
    text-align: right;
    box-shadow: 2px 3px 2px #e7e7e7;
    border-radius: 0 0 5px 5px;
}

.dashboard_menu_item_selection:hover {
    background: rgb(229, 229, 233);
}

.dashboard_menu_item_selection-1:hover {
    background: rgb(229, 229, 233);
}

.dashboard-titles{
    font-family: helvetica;
    margin: 15px;
    color: rgb(178, 178, 178);
    font-size: 22px;
    text-align: center;
}

.dashboard-task-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard-tasks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dash-task {
    width: 74vw;
    background: white;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 2px 3px 2px #e7e7e7;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
}

.dash-task-title {
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12px;

    text-align: center;
    background: #7953F5;
    border-radius: 5px 0 0 5px;
    color: white;
}

.dash-task-everything-else {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dash-task-everything-else {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dash-task-everything-else a{
font-size: 12px;
display: flex;
align-items: center;
}

.dash-task-dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    padding: 6px 10px;
    padding-bottom: 0;
    font-size: 10px;
    width:150px;

}
.link-icon-dash{
    height: 18px;
    width: 18px;

    cursor: pointer;
}

.dash-task-dates div {
    text-align: center;
    /* border-bottom: 1px solid black; */
}
.task-description-dashboard{
    font-size: 11px;
    margin-right: 10px;
    text-align: left;
    align-self: center;

}
.dash-date-dash {
    margin: 0 3px;
}
.dash-task-everything-else-details{
    display: flex;
}


.dash-task-details a {

}

.dash-check {
    width: 80px;
    height: 25px;
    background: #4dbf71;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 3px;
    color: white;
    cursor: pointer;
    font-size: 11px;
    align-self: flex-end;
    margin: 8px;

}

.chat {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 23px;
    color: #0d96b5;
    padding: 7px 15px 7px 15px;
    margin-right: 50px;
    background: white;
    border: 1px solid rgba(48, 48, 48, 0.4);
    border-radius: 7px 7px 0px 0px;
    box-shadow: 0px 0px 4px rgba(48, 48, 48, 0.6);
}
/* .dashboard-input-name-container{
background: white;
margin-top: 30px;
box-shadow: 2px 3px 2px #e7e7e7;
border-radius: 5px;
border: 1px solid rgb(243, 243, 243);
border-top: 2px solid red;
padding: 20px;
} */
.dashboard-input-name-title{
    font-family: helvetica;
    margin: 15px;
    margin-bottom: 25px;
    color: rgb(178, 178, 178);
    font-size: 22px;
    text-align: center;
}

.dashboard-input-names-cont{

}
.dashboard-input-names{
    border: none;
    outline: none;
    font-family: helvetica;
    font-size: 16px;
    color: grey;
    border-bottom: 1px solid rgb(227, 227, 227);
    width: 400px;
    height: 35px;
    margin: 10px 20px 10px 0px;
}
.dashboard-input-names::placeholder{
    border: none;
    outline: none;
    font-family: helvetica;
    font-size: 16px;
    color: rgb(217, 217, 217);
}

.dashboard-all-input-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.dashboard-side-nav-body{
width: 10vw;
background: white;
box-shadow: 2px 3px 2px #e7e7e7;
border-radius: 5px;
border: 1px solid rgb(243, 243, 243);
border-top: 2px solid #7953F5;
padding: 20px;
padding-top:30px;
align-self: flex-start;
}
.dashboard-sidenav-links-all{

}

.dashboard-side-nav-selections-cont{
    display: flex;
    color: black;
    text-decoration: none;
    margin: 20px 0 20px 0;
    font-family: helvetica;
    font-weight: lighter;
    font-size: 14px;

}
.dashboard-icon-sidenav{
width: 16px;
height: 16px;
margin-right: 7px;
}
.dashboard-text-sidenav{
    
}
.dashboard-sidenav-title{
    padding-bottom: 15px;
    width: calc(40px + 100%);
    font-weight: bold;
    color: black;
    text-decoration: none;

}
.dashboard-sidenav-title-divider{
    border-bottom: 1px solid rgb(231, 231, 231);
    width: calc(40px + 100%);
    margin-left: -20px;
}
.dashboard-calendar{
    border: none !important;
    color: black !important;
    width: calc(30vw - 3vw)!important;
    background: white !important;
    box-shadow: 2px 3px 2px #e7e7e7;
    border-radius: 5px;
    border: 1px solid rgb(243, 243, 243) !important;
    border-top: 2px solid #7953F5 !important;
    margin: 0 1.5vw 0 1.5vw;
}
.dashboard-second-section-cont2{
    width: calc(30vw - 1.5vw) ;
    height: 296px;
    background: white;
    box-shadow: 2px 3px 2px #e7e7e7;
    border-radius: 5px;
    border: 1px solid rgb(243, 243, 243);
    border-top: 2px solid rgb(245, 172, 83);
    margin: 0 1.5vw 0 1.5vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dash-tasks-to-complete{
color: rgb(245, 172, 83);
font-family: helvetica;
margin: 50px;
font-size: 110px;
}
.dash-tasks-to-complete-description{
    color: rgb(245, 172, 83);
    font-family: helvetica;
}
.dashboard-second-section-cont1{
    width: calc(30vw - 1.5vw) ;
    height: 296px;
    background: white;
    box-shadow: 2px 3px 2px #e7e7e7;
    border-radius: 5px;
    border: 1px solid rgb(243, 243, 243);
    border-top: 2px solid rgb(10, 183, 10);
    margin: 0 1.5vw 0 1.5vw;
    font-size: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dash-section-2-info-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
}
.dash-section-2-notifications-title{
font-size: 24px;
color: rgb(10, 183, 10);
margin-bottom: 10px;
}
.dash-section-2-other-info-container{
    display: flex;
    flex-direction: column;
}
.dash-section-2-user-name{
margin: 10px;
color: rgb(10, 183, 10);
}
.dash-section-2-notifications{

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

margin: 10px;
}
.dash-section-2-icon{
    height: 35px;
    margin-right: 10px;

}
.dash-section-2-notification-not1{
    text-align: left;
    margin:10px;
    font-size: 16px;

    color: grey;
    font-weight: lighter;
    width: 370px;
    padding: 10px;
}

.dashnoard-second-section-layout{
    display: flex;
    margin: auto;

}
.dashboard-main-title{
    position: relative;
    
}

.number {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: green;
    margin-left: 90px;
}
.calculator {
    position: absolute;
    bottom: 0;
    margin-left: 100px;
    color: white;
    background: #4dbf71;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}
.dashboard-tasks-complete-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(169, 169, 169);
    margin: 40px;
    font-family: helvetica;
    font-size: 18px;
}
.dashboard-tasks-complete-image{
    height: 100px;
    margin-bottom: 15px
}
.dashboard-tasks-complete-note{
    width: 230px;
    text-align: center;
}
.notifications-trash-icon{
    display: flex;
    margin:20px;
}
.notifications_actual_icon{
    margin-right: 15px;
}
